<!DOCTYPE html>
<html>
  <head>
    <title>Hello from Flask</title>
    <style>
      body {
        background-image: url('{{ image_url }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .content {
        text-align: center;
        color: dodgerblue;
        height: 90px;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div class="content">
      {% if name %}
        <h1>Hello from {{ name }}!</h1>
      {% else %}
        <h1>Hello to my Final EKS Project!</h1>
      {% endif %}
      {% if contents %}
        <textarea rows="10" cols="50">{{ contents }}</textarea>
      {% endif %}
    </div>
  </body>
</html>
